/* 
    Created on : 2017/08/20, 12:51:43
    Author     : shun
*/


header {
    background-color: #FAFAF6;
    padding: 0.5em 1em;
}

#main {
    //background-color: #f0f000;
    padding: 0.5em 2em;
}

footer {
    color: #FFFFFF;
    background-color: #99958D;
    padding: 0.5em 1em;
}

