/* 
    Created on : 2017/08/20, 12:51:43
    Author     : shun
*/

$light_gray: #DDDDDD;

a:link {color:#00688c; text-decoration:none;}
a:visited {color:#993300; text-decoration:none;}
a:active {color:#ff3f5b; text-decoration:none;}
a:hover {color:#ff3f5b; text-decoration:none;}

img {
    border: 0;
}

.main_container {
    padding: 0;
    margin: 0;
    background-color: #FAFAF6;
    box-sizing: content-box;
}

header {
    width: 100%;
    background-color: #FAFAF6;
    color: #333333;
    .header_inner {
        position: relative;
        padding: 0 1rem;
    }
    .sp-logo {
        margin: 0;
        a {
            img {
                height: 46px;
            }
        }
        span {
            font-size: medium;
            margin-left: 5px;
        }
    }
    .sp-menu, .sp-rankings {
        box-sizing: content-box;
    }
    ul {
        margin: 0;
        li {
            display: inline-block;
            .nav_sp {
                display: none;
            }
        }
    }
    @media screen and (max-width:760px) {
        position: fixed;
        height: 80px;
        top: 0;
        z-index: 1000;
        background-color: #fafaf6;
        .header_inner {
            .sp-logo {
                margin: 12px 0 0;
                text-align: center;
                img {
                    width: auto;
                    height: auto;
                    max-height: 60px;
                }
            }
            .sp-menu {
                position:absolute;
                display: inline-block;
                width:10%;
                left:20px;
                top:10px;
                cursor: pointer;
                img {
                    width: auto;
                    height: auto;
                    max-height: 40px;
                }
            }
            .sp-rankings {
                position:absolute;
                width:8%;
                top:10px;
                right:20px;
                img {
                    width: auto;
                    height: auto;
                    max-height: 40px;
                }
            }
            #headerMenuMain {
                display: none;
                position: absolute;
                left: 0;
                top: 67px;
                z-index: 1000;
                width: 100%;
                height: auto;
            }
            ul.navi {
                background-color: #e3e2de;
                padding: 0;
                li {
                    display:block;
                    height: 44px;
                    border-bottom: 3px solid #fff;
                    .nav_sp {
                        display: block;
                        .txt {
                            font-size: 1.6em;
                            line-height: 1;
                            list-style-type: none;
                            vertical-align: middle;
                        }
                    }
                    .sp_none {
                        display: none;
                    }
                    a {
                        color: #533f3a;
                    }
                    img {
                        height: 40px;
                        width: auto;
                        margin: 2px 1em 0;
                    }
                }
            }
        }
    }
    @media screen and (min-width:761px) {
        .sp-logo {
            float: left;
            width: 220px;
            padding-top: 6px;
        }
        .sp-menu, .sp-rankings {
            display: none;
        }
        #headerMenuMain {
            display: block;
        }
        ul {
            li {
                float: left;
            }
        }
    }
    @media screen and (min-width:761px) and (max-width:1055px) {
        padding: 0 0 16px;
        ul.navi {
            float:right;
            padding-top: 16px;
            padding-left: 0px;
            li {
                float: left;
                img {
                    width: 56px;
                    height: auto;
                }
            }
            li:nth-last-child(2) {
                padding:0 6px 0 0;
            }
        }
    }
    // override
    @media screen and (min-width:1056px) {
        padding: 16px 0;
        ul.navi {
            display: inline-block;
            height: 46px;
            float: right;
            li {
                display: inline-block;
                float:left;
                height:46px;
                margin:0;
            }
        }
    }
}

.ptnr_logo_head {
    background-color: #ffffff;
    padding: 10px 0;
    max-height: 92px;
    overflow: hidden;
    ul {
        width: 100%;
        text-align: center;
        margin: 0;
        //padding: 0;
        li {
            list-style-type: none;
            /*display: inline-block;*/
            float: center;
            margin: 0;
            padding: 0;
            text-align: center;
            vertical-align: middle;
            a:focus {
                outline: none;
            }
            img {
                max-width: 255px;
                width: 100%;
                height: auto;
            }
        }
    }
    @media screen and (max-width:760px) {
		margin-top: 80px;
    }
}

#main {
    //background-color: #f0f000;
    padding: 0.5em 2em;
    margin-bottom: 2em;
}

#ptnr_ftr {
    width: 100%;
    padding: 30px 0;
    background: #FFFFFF;
    text-align: center;
    padding: 30px;
    ul {
        padding-bottom: 40px;
        margin: 0 auto;
        li {
            display: inline-block;
        }
    }
}

footer {
    color: #ffffff;
    background-color: #99958d;
    text-align: center;
    a:link, a:visited {
        color: #ffffff;
    }
    a:hover, a:active {
        color: #dddddd;
    }
    p.logo {
        max-width: 304px;
        padding: 24px 0 20px;
    }
    ul {
        li {
            width: 91px;
            height: 46px;
            display: inline-block;
            margin: 0 6px;
            a {
                padding-top: 6px;
                display: block;
                img {
                    display: block;
                    margin: 0 auto;
                }
                span {
                    display: block;
                    font-size: 90%;
                    line-height:2.0;
                }
            }
        }
    }
    p.link-org {
        padding: 12px 0;
        border-top: 1px solid #b3aea7;
        border-bottom: 1px solid #b3aea7;
    }
    .ftr-bottom {
            padding: 6px 20px 0;
        p {
            padding-top: 8px;
        }
        .copyright {
            font-size: 85%;
        }
        .link-others {
            font-size: 90%;
        }
    }
}

// bootstrap での設定取消
.mark {
    padding: 0;
    background-color: #FFFFFF00;
}

.with_pop {
    margin-top: 0em;
}
p.title_pop {
    font-size: 0.8em;
    margin-bottom: 0em;
}

p.proviso {
    font-size: 0.8em;
    text-align: right;
}

.alert {
    margin-bottom: 0px;
}

#flash_view {
    padding: 10px 10px;
}

#rider_search {
    #search_send {
        width: 130px;
    }
    #contains_noentry {
        font-size: 0.9em;
    }
}

.point_series_index {
    .rankings {
        .ps_title {
            margin-top: 6px;
            margin-bottom: 6px;
            padding: 6px 6px;
            background-color: $light_gray;
            h4 {
                display: inline;
            }
            span {
                font-size: 0.8em;
            }
        }
    }
    .point_series {
        margin-bottom: 15px;
        .racers_row {
            .team {
                margin-left: 2em;
            }
        }
    }
}

.racer_view {
    .racer {
        .dl-horizontal {
            > dt {
                text-align: left;
                width: 110px;
            }
            > dd {
                margin-left: 110px;
            }
        }
    }
    .ranking {
        .dl-horizontal {
            > dt {
                text-align: left;
                width: 210px;
            }
            > dd {
                margin-left: 210px;
            }
        }
    }
}

.racer_index {
    .pagination_navi {
        a, strong {
            display: inline-block;
            margin-left: 2px;
            margin-right: 2px;
        }
        a:visited {
            color: #00688c;
        }
    }
}

#ajocc_ranking_view {
    table {
        tr {
            padding: 4px;
        }
        td {
            white-space: nowrap;
            padding: 4px;
        }
    }
}

#point_series_view {
    table {
        font-size: small;
        tr {
            padding: 4px;
        }
        td {
            white-space: nowrap;
            padding: 4px;
        }
    }
}

div.convini_link {
    margin-left: 20px;
}

table.table-striped tbody {
    // >>> tr { :nth-,,, } と書けない。
    tr:nth-of-type(2n) {
        background-color: initial;
    }
    tr:nth-of-type(2n+1) {
        background-color: #edede8;
    }
    // <<<
    tr td {
        font-size: 0.8em;
        padding: 3px 2px;
    }
}