/* 
    Created on : 2017/08/20, 12:51:43
    Author     : shun
*/

$light_gray: #DDDDDD;

.main_container {
    padding: 0;
    margin: 0;
}

header {
    background-color: #FAFAF6;
    padding: 16px 0;
    .header_inner {
        position: relative;
        padding: 0 1rem;
    }
    .sp-logo {
        margin: 0;
        a {
            img {
                height: 46px;
            }
        }
        span {
            font-size: medium;
            margin-left: 5px;
        }
    }
    ul {
        margin: 0;
        li {
            display: inline-block;
            float: left;
            height: 46px;
        }
    }
}

#main {
    //background-color: #f0f000;
    padding: 0.5em 2em;
    margin-bottom: 2em;
}

footer {
    color: #FFFFFF;
    background-color: #99958D;
    text-align: center;
    a {
        color: #FFFFFF;
    }
    p.logo {
        max-width: 304px;
        padding: 24px 0 20px;
    }
    ul {
        li {
            display: inline-block;
            margin: 0 13px;
            a {
                padding-top: 6px;
                display: block;
                img {
                    display: block;
                    margin: 0 auto;
                }
                span {
                    display: block;
                    font-size: 90%;
                    line-height:2.0;
                }
            }
        }
    }
    p.link-org {
        padding: 12px 0;
        border-top: 1px solid #b3aea7;
        border-bottom: 1px solid #b3aea7;
    }
    .ftr-bottom {
            padding: 6px 20px 0;
        p {
            padding-top: 8px;
        }
        .copyright {
            font-size: 85%;
        }
        .link-others {
            font-size: 90%;
        }
    }
}

// bootstrap での設定取消
.mark {
    padding: 0;
    background-color: #FFFFFF00;
}

.with_pop {
    margin-top: 0em;
}
p.title_pop {
    font-size: 0.8em;
    margin-bottom: 0em;
}

p.proviso {
    font-size: 0.8em;
    text-align: right;
}

.alert {
    margin-bottom: 0px;
}

#flash_view {
    padding: 10px 10px;
}

#rider_search {
    #search_send {
        width: 130px;
    }
    #contains_noentry {
        font-size: 0.9em;
    }
}

.point_series_index {
    .rankings {
        .ps_title {
            margin-top: 6px;
            margin-bottom: 6px;
            padding: 6px 6px;
            background-color: $light_gray;
            h4 {
                display: inline;
            }
            span {
                font-size: 0.8em;
            }
        }
    }
    .point_series {
        margin-bottom: 15px;
        .racers_row {
            .team {
                margin-left: 2em;
            }
        }
    }
}

.racer_view {
    .racer {
        .dl-horizontal {
            > dt {
                text-align: left;
                width: 110px;
            }
            > dd {
                margin-left: 110px;
            }
        }
    }
    .ranking {
        .dl-horizontal {
            > dt {
                text-align: left;
                width: 210px;
            }
            > dd {
                margin-left: 210px;
            }
        }
    }
}

#ajocc_ranking_view {
    table {
        font-size: small;
        tr {
            padding: 4px;
        }
        td {
            white-space: nowrap;
            padding: 4px;
        }
    }
    
}

#point_series_view {
    table {
        font-size: small;
        tr {
            padding: 4px;
        }
        td {
            white-space: nowrap;
            padding: 4px;
        }
    }
}