@charset "utf-8";
/*------------------------------------------------------------

Font

------------------------------------------------------------*/
@font-face {
  font-family: 'NotoSansJP';
  src: url('/fonts/Noto/NotoSansJP-Regular.eot');
  src: url('/fonts/Noto/NotoSansJP-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Noto/NotoSansJP-Regular.woff') format('woff'),
    url('/fonts/Noto/NotoSansJP-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansJPBold';
  src: url('/fonts/Noto/NotoSansJP-Bold.eot');
  src: url('/fonts/Noto/NotoSansJP-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Noto/NotoSansJP-Bold.woff') format('woff'),
    url('/fonts/Noto/NotoSansJP-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}


/* ----------------------------------------------------------------------

Reset

---------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  margin: 0; 
  padding: 0; 
  font-weight: normal;
}

ul, dl, ol {
  margin: 0; 
  padding: 0; 
}

li {
  list-style-type: none; 
}

img {
  border: 0;
  vertical-align: bottom;
}

strong {
  font-weight: bold;
}

em {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0; 
}
th,
td {
  word-break: keep-all;
}

form {
  padding: 0;
  margin: 0;
}

input, textarea {
  margin: 0;
}

cite {
  font-style: normal;
}



/* ----------------------------------------------------------------------

Base

---------------------------------------------------------------------- */
html,
body {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
	width: 100%;
	font-size: 100%; 
	line-height: 1.6;
	color: #333333;
	background: #fafaf6;
	font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','YuGothic','Yu Gothic','游ゴシック','游ゴシック体',Meiryo,'メイリオ', sans-serif;
	letter-spacing: -0.5px;
}


/* ----------------------------------------------------------------------

Link

---------------------------------------------------------------------- */
a:link {color:#00688c; text-decoration:none;}
a:visited {color:#993300; text-decoration:none;}
a:active {color:#ff3f5b; text-decoration:none;}
a:hover {color:#ff3f5b; text-decoration:none;}

/*========== Entry Tag ==========*/
#main .blog_entry .entry_tag a:link,
#main .blog_entry .entry_tag a:visited {color:#00c5e3; text-decoration:underline;}
#main .blog_entry .entry_tag a:hover,
#main .blog_entry .entry_tag a:active {color:#0287a5; text-decoration:none;}

/*========== Entry Navi ==========*/
#main .blog_entry .entry_navi a:link,
#main .blog_entry .entry_navi a:visited {color: #00c5e3; text-decoration: underline;}
#main .blog_entry .entry_navi a:hover,
#main .blog_entry .entry_navi a:active {color: #0287a5; text-decoration: none;}

/*========== Page Navi ==========*/
#main .blog_list .page-navigation a:link,
#main .blog_list .page-navigation a:visited {color: #00c5e3; text-decoration: underline;}
#main .blog_list .page-navigation a:hover,
#main .blog_list .page-navigation a:active {color: #0287a5; text-decoration: none;}

/* ----------------------------------------------------------------------

Image Mouse Over

---------------------------------------------------------------------- */

/* ========== Mouse Over ========== */
.mouse-over a:hover img,
.mouse-over a:active img,
a.mouse-over:hover img,
a.mouse-over:active img {
	filter: alpha(opacity=70);  
	-ms-filter:"alpha(opacity=70)";
	-moz-opacity: 0.7; 
	-khtml-opacity: 0.7;
	opacity: 0.7; 
	}

/* -----------------------------------------------------
clearfix
----------------------------------------------------- */
.clear-fix, .clearfix { zoom: 1; }
.clear-fix:after, .clearfix:after { content: ""; display: block; clear: both; }


/* -----------------------------------------------------
Deco
----------------------------------------------------- */
.clear {
  clear: both;
}

.txt-c {text-align: center;}
.txt-l {text-align: left;}
.txt-r {text-align: right;}

.img_right {
  float: right;
  margin: 0 0 14px 14px;
}

.img_left {
  float: left;
  margin: 0 14px 14px 0;
}

/* ==============================
Deco for Media Queries
============================== */
		@media screen and (min-width:1056px) {
.pc_none {
	display: none;
}
		}

			@media screen and (min-width:801px) and (max-width:1055px) {
.tb_none {
	display: none;
}
img {
	max-width: 100%;
	height: auto;
	width /***/:auto;
}
		}

		@media screen and (max-width:800px) {
.sp_none {
	display: none;
}
img {
	max-width: 100%;
	height: auto;
	width /***/:auto;
}
.img_right,
.img_left {
	float: none;
	text-align: center;
	margin:0 0 14px 0;
}
table {
	table-layout: fixed;
}
		}

/* ----------------------------------------------------------------------

#container

---------------------------------------------------------------------- */
#container {
	width: 100%;
	font-size: 1em; 
	line-height: 1.6;
	word-wrap: break-word;
}

.pagetop {
	clear: both;
	text-align: right;
	padding: 8px 0 12px 0;
}


/*------------------------------------------------------------

Header

------------------------------------------------------------*/
#hdr {
	width: 100%;
}
#hdr .hdr_inner {
	position: relative;
	padding: 0 1rem;
}
#hdr ul.navi li.sns span {
	display: block;
	float: left;
}
#hdr ul.navi li.sns span a {
	display: block;
	text-align: center;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	text-decoration: none;
	color: #ffffff;
}
#hdr ul.navi li.sns span a i {
	padding-top: 6px;
}
#hdr ul.navi li.sns span a:link,
#hdr ul.navi li.sns span a:visited {
	background-color: #533f3a;
}
#hdr ul.navi li.sns span a:hover,
#hdr ul.navi li.sns span a:active {
	background-color: #ff0000;
}
#hdr ul.navi li div.nav_sp {
	display: none;
}

#headerMenuMain li.rankings {
  cursor: pointer;
}
#headerMenuMain li ul {
	display: none;
	position: absolute;
	padding-top: 8px;
	z-index: 9999;
}
#headerMenuMain li ul li {
	display: block;
	float: left;
}
#headerMenuMain li ul li a {
  display: block;
  text-align: center;
  color: #fff;
  background-color: #523f3a;
  text-decoration: none;
  box-sizing: border-box;
}
#headerMenuMain > li li:hover > a {
  background-color: #f80015;
}


/* ========================================
Header
Media Queries
======================================== */
@media screen and (min-width:1056px) {
#hdr {
	padding: 16px 0;
	-webkit-transition-duration: 0.7s;
	-moz-transition-duration: 0.7s;
	-o-transition-duration: 0.7s;
	transition-duration: 0.7s;
}
#hdr.subOpen {
	padding-bottom: 50px;
}
#hdr .logo {
	width: 320px;
	float: left;
}
#hdr #headerMenuMain {
	display: block;
}
#hdr .logo img {
	width: 100%;
	height: auto;
}
#hdr ul.navi {
	display: inline-block;
	height: 46px;
	float: right;
}
#hdr ul.navi li {
	display: inline-block;
	float:left;
	height:46px;
	margin:0;
}
#hdr ul.navi > li:nth-last-child(2) {
	padding:0 10px 0 0;
}
#hdr ul.navi li.sns span a {
	width: 1.8em;
	height: 1.8em;
	text-align: center;
}
#hdr ul.navi li.sns {
	padding: 10px 0 0;
}
#hdr ul.navi li.sns .sns-youtube,
#hdr ul.navi li.sns .sns-tw {
	margin-right: 5px;
}
#hdr .sp-menu,
#hdr .sp-rankings {
	display: none;
}
#headerMenuMain li ul {
	width: 100%;
	left: 50%;
}
#headerMenuMain li ul li {
	display: inline-block;
	text-align: center;
	
}
#headerMenuMain li ul li a {
	width: auto;
	font-size: 1em;
	line-height: 1.0;
	padding: 10px;
	margin: 0 2px;
	}
}

@media screen and (min-width:801px) and (max-width:1055px) {
#hdr {
	padding: 0 0 16px;
}
#hdr.subOpen {
	padding-bottom: 40px;
}
#hdr .logo {
	float: left;
	width: 25%;
	padding-top: 6px;
}
#hdr #headerMenuMain {
	display: block;
	margin-right: -10px;
}
#hdr ul.navi {
	float:right;
	padding-top: 16px;
}
#hdr ul.navi li {
	float: left;
}
#hdr ul.navi li img {
	width: 56px;
	height: auto;
}
#hdr ul.navi > li:nth-last-child(2) {
	padding:0 6px 0 0;
}
#hdr ul.navi li.sns {
	padding: 6px 0 0;
}
#hdr ul.navi li.sns span a {
	width: 1.7em;
	height: 1.7em;
	text-align: center;
}
#hdr ul.navi li.sns .sns-youtube,
#hdr ul.navi li.sns .sns-tw {
	margin-right: 5px;
}
#hdr .sp-menu,
#hdr .sp-rankings {
	display:none;
}
#headerMenuMain li ul {
	width: 100%;
	left: 45%;
}
#headerMenuMain li ul li a {
	width: auto;
	font-size: 0.8em;
	line-height: 1.0;
	padding: 8px;
	margin: 0 2px;
	}
}

		@media screen and (max-width:800px) {
#hdr {
	position: fixed;
	top: 0;
	background-color: #fafaf6;
  z-index: 1000;
	height: 80px;
}
#hdr .logo {
	z-index: 1001;
	margin: 12px 0 0;
	text-align: center;
}
#hdr .logo img {
	width: auto;
	height: auto;
	max-height: 60px;
}
#hdr .logo a {
	display: block; 
}
#hdr .sp-menu {
	z-index: 1002;
	position:absolute;
	display: inline-block;
	width:10%;
	left:20px;
	top:10px;
	cursor: pointer;
}
	#hdr .sp-menu img {
		width: auto;
		height: auto;
		max-height: 40px;
	}

	#hdr #headerMenuMain {
		display: none;
		position: absolute;
		left: 0;
		top: 67px;
		z-index: 1002;
		width: 100%;
		height: auto;
	}
	#hdr ul.navi {
		background-color: #e3e2de;
	}
	#hdr ul.navi li {
		display:block;
		height: 44px;
		border-bottom: 3px solid #fff;
	-webkit-transition-duration: 0.7s;
	-moz-transition-duration: 0.7s;
	-o-transition-duration: 0.7s;
	transition-duration: 0.7s;
	}
	#hdr ul.navi li div.nav_sp {
		display: block;
	}
	#hdr ul.navi li img.sp_none {
		display: none;
	}
	#hdr ul.navi li a {
		display:block;
		width:100%;
		height:100%;
		color: #533f3a;
	}
	#hdr ul.navi li img {
		height: 40px;
		width: auto;
		margin: 2px 1em 0;
	}
	#hdr ul.navi li .txt {
		font-size: 1.6em;
		line-height: 1;
	}
	#hdr ul.navi li.sns {
		padding: 10px 0 0 20px;
		text-indent: 0;
	}
	#hdr ul.navi li.sns span {
		width: 36px;
		height: 36px;
	}
	#hdr ul.navi li.sns span a {
		width: 36px;
		height: 36px;
		text-align: center;
		font-size: 1.6em;
		line-height: 36px;
	}
	#hdr ul.navi li.sns .sns-youtube,
	#hdr ul.navi li.sns .sns-tw {
		margin-right: 20px;
	}
	#hdr .sp-rankings {
	z-index: 1002;
	position:absolute;
	width: 8%;
	top: 10px;
	right: 20px;
}
#hdr .sp-rankings img {
	width: auto;
	height: auto;
	max-height: 40px;
}
#headerMenuMain li.rankings {
	position: relative;
}
#headerMenuMain li ul {
	width: auto;
	height: auto;
	top: 2.4em;
	left: 70px;
	}
#headerMenuMain li ul li {
	margin: 2px;
	border: 0 !important;
}
#headerMenuMain li ul a {
	color: #ffffff !important;
	font-size: 1.4em;
	line-height: 1.0;
	padding: 8px;
}
.subOpen_sp {
	padding-bottom: 150px;
}

		}

/* ----------------------------------------------------------------------

Partners Logo List (Header)

---------------------------------------------------------------------- */
#ptnr_logo_list01 {
	background-color: #ffffff;
	display: visible;
}
#ptnr_logo_list01 ul {
	width: 100%;
}
#ptnr_logo_list01 ul li {
	width: 10%;
	display: block;
	float: left;
}
#ptnr_logo_list01 ul li img {
	width: 100%;
	height: auto;
}

/* ========= Media Queries ========= */
		@media screen and (max-width:800px) {
#ptnr_logo_list01 {
	margin-top: 80px;
}
#ptnr_logo_list01 ul li {
	width: 20%;
	
}
		}

/* ----------------------------------------------------------------------

#contents

---------------------------------------------------------------------- */
#contents {
	zoom: 1;
}

.pagetop {
	clear: both;
	text-align: right;
	padding: 8px 0 12px 0;
}

/* ========= Media Queries ========= */
		@media screen and (min-width:1056px) {
#contents {
	width: 100%;
	padding: 0 0 36px;
}
		}

		@media screen and (min-width:801px) and (max-width:1055px) {
#contents {
	padding: 0 0 36px;
}
		}



/* ----------------------------------------------------------------------

#main

---------------------------------------------------------------------- */
#main {
}

.entries,
.entry,
.pages,
.page {
	position: relative;
	padding: 0 15px;
}

/* ========= Media Queries ========= */
@media screen and (max-width:800px) {
	.entries,
	.entry,
	.pages,
	.page {
		padding: 0 5px;
	}
}

/* ----------------------------------------------------------------------

COMMON : Share Buttons

---------------------------------------------------------------------- */

/* ========== Share Buttons ========== */
#main .entry-share {
	clear: both;
	font-size: 0.85rem; 
	color: #666;
	margin: 0 0 10px 0;
}
#main .entry-share .ttl {
	display: inline-block;
}
#main .entry-share li {
	display: inline-block;
	margin-right: 1em;
	vertical-align: top;
}
#main .entry-share .fb,
#main .entry-share .tw
#main .entry-share .ln {
	width: 115px;
}
/* ========= Media Queries ========= */
		@media screen and (min-width:801px) {
#main .entry-share .ttl,
#main .entry-share li {
	float: left;
}
		}
		@media screen and (max-width:800px) {
#main .entry-share .ttl {
	display: block;
}
#main .entry-share .fb,
#main .entry-share .tw
#main .entry-share .ln {
	width: auto;
	margin-right: 10px;
}
#main .entry-share .ln img {
	width: auto;
	height: 28px;
}
		}

/* ----------------------------------------------------------------------

TOP

---------------------------------------------------------------------- */
#main_visual {
	max-height: 300px !important;
}
.slider-pro {
	padding: 0 0 10px 0;
}

.top_cat_ttl {
	font-size: 1.3em;
	line-height: 1.0;
	font-family: 'NotoSansJPBold';
	padding: 12px 0;
	margin: 0 0 12px;
	color: #ffffff;
	text-align: center;
}

/* ------------------ RESULTS ------------------ */
#top_results_frame {
	width: 100%;
	height: 450px;
	border: 0;
	overflow: auto;
}

/* ------------------ MOVIES ------------------ */
#Movie_list ul li {
	position: relative;
	width: 100%;
}
#Movie_list ul li iframe {
	width: 100%;
}

/* ------------------ ENTRY INFO ------------------ */
#entry_info .top_cat_ttl .ant {
	display: block;
	font-size: 0.7em;
	margin-top: 5px;
}
#entry_info .list {
  background: #ffffff;
  padding: 10px;
}
#entry_info .list-item {
	border-bottom: 1px solid #e3e2de;
	margin: 0 auto;
	padding: 0 12px;
	text-align: left;
}
#entry_info .list-item .body .ttl {
	font-size: 1em;
	line-height: 1.5;
	font-weight: bold;
	margin: 8px 0;
}
#entry_info .list-item-jcx .body .ttl {
	margin-right: 70px;
}
#entry_info .list-item .body p {
	margin: 0 0 8px;
	font-size: 0.9em;
}

/* ========= Media Queries ========= */
		@media screen and (min-width:1056px) {
.main-image {
	height: 500px;
}
.main-image img {
	display: table;
	width: auto;
	height: 500px;
	margin: 0 auto;
}
.slider-pro {
	width: calc(100% - 266px);
}
#Movie_list ul li {
	width: 50%;
	float: left;
}
		}


		@media screen and (min-width: 801px) {
#entry_info .entry_ttl .entry_ttl_comment {
	display: block;
	padding: 3px 0 0 0;
}
#entry_info .list-item-jcx {
	background: #fff url("../img/cmn/icn-jcx.jpg") right 10px no-repeat;
	background-size: 70px;
}
#entry_info .list-item {
	width: calc((100% - 82px) /3);
	display: inline-block;
	vertical-align: top;
	border-top: 0;
	border-top: 1px solid #ffffff;
}
#entry_info .list-item-jcx {
	background: url("../img/cmn/icn-jcx.jpg") right 10px no-repeat;
	background-size: 60px auto;
}

		}


/* ----------------------------------------------------------------------

COMMON : Top List (NEWS/PARTNERS)

---------------------------------------------------------------------- */
.top_list {
	padding: 10px 0;
}
.top_list .list-item {
	position: relative;
	display: block;
	margin: 0 0 10px;
}
.top_list .list-item a {
	display: block;
	background-color: #ffffff;
	border-bottom: 2px solid #e0e0e0;
	color: #000000;
	text-align: left;
}
.top_list .list-item a:hover {
	padding: 8px;
	border: 2px solid #d0d0d0;
}

.top_list .list-item .icn-cat .cat {
	display: block;
	font-family: Arial, sans-serif;
	color: #ffffff;
	font-size: 0.7em;
	width: 70px;
	letter-spacing: 0;
	padding: 4px 0;
	line-height: 1.0;
	text-align: center;
}
.top_list .list-item .icn-news {
	background-color: #ff7200;
}
.top_list .list-item .icn-report {
	background-color: #fe0000;
}
.top_list .list-item .icn-movie {
	background-color: #fe0000;
}
.top_list .list-item .icn-results {
	background-color: #543f3a;
}
.top_list .list-item .icn-partners {
	background-color: #0078e6;
}
.top_list .list-item .icn-jcx {
	width: 60px;
}
.top_list .list-item .icn-jcx img {
	width: 100%;
	height: auto;
}
.top_list .list-item .date {
	display: block;
	float: right;
	text-align: right;
	font-size: 0.75em;
	color: #666666;
	margin:0;
}

.top_list .list-item .ttl {
	display: block;
	clear: both;
	color: #000000;
	font-size: 0.9em; 
	line-height: 1.4;
	padding: 8px 0;
}
.top_list .list-item .ttl .sub {
	font-size: 0.8em;
}
.top_list .list-item .ttl .p_name {
	display: block;
	color: #666;
	font-size: 0.9em;
	margin: 0 0 3px;
}

.top_list .list-item .p_other {
	margin: 0;
	padding-left: 12px;
	text-align: left;
}
.top_list .list-item .p_other a {
	display: inline;
	border: 0;
	padding: 0;
	margin: 0;
	background-color: transparent;
	font-size: 0.85em;
	line-height: 1.4;
}
.more {
	font-size: 1em; 
	text-align: right;
	margin:  0 25px 20px 0;
	}
.more .mark {
	font-size: 160%;
	line-height: 1.2;
	vertical-align: bottom;
	}
.more a:link,
.more a:visited,
.top_list .list-item .p_other a:link,
.top_list .list-item .p_other a:visited {color: #00688c;}
.more a:hover,
.more a:active,
.top_list .list-item .p_other a:hover,
.top_list .list-item .p_other a:active {color: #ff3f5b;}

/* ========= Media Queries ========= */
		@media screen and (min-width: 801px) {
.top_list {
	padding: 0 10px;
}
.top_list .list-item {
	display: block;
	float: left;
	width: calc((100% - 38px) /4);
	vertical-align: top;
	margin: 0 3px 10px;
}
.top_list .list-item a {
	padding: 10px 10px 2px 10px;
	border: 0;
	box-shadow: 0px 0px 5px 1px #eeeeee;
}
.top_list .list-item a:hover {
	padding: 8px 8px 0 8px;
}
.top_list .list-item .p_other a {
	box-shadow: none;
	padding: 0;
}
.top_list .list-item .pic,
.top_list .list-item .pic_non-thumb {
	width: 100%;
	height: 140px;
	text-align: center;
	padding-top: 15px;
}
.top_list .list-item .pic img,
.top_list .list-item .pic_non-thumb img {
	width: auto;
	max-height: 140px;
}
.top_list .list-item .icn-cat {
	position: absolute;
	top: 0;
}
.top_list .list-item .date {
	position: static;
	float: right;
}
.top_list .list-item .p_other {
	margin-top: 5px;
}
		}


		@media screen and (max-width: 800px) {
.top_list .list-item a {
	padding: 10px 10px 8px;
}
.top_list .list-item .pic,
.top_list .list-item .pic_non-thumb {
	width: 120px;
	margin-top: 10px;
	margin-right: 10px;
	float: left;
	}
.top_list .list-item .pic img,
.top_list .list-item .pic_non-thumb img {
	width: 100%;
	max-width: 120px;
	height: auto;
	max-height: 80px;
}
.top_list .list-item .txt {
	float: left;
	width: calc(100% - 130px);
}
.top_list .list-item .icn-cat,
.top_list .list-item .icn-jcx {
	display: inline-block;
}
		}

/* ----------------------------------------------------------------------

COMMON : Category Title

---------------------------------------------------------------------- */
#main .category-ttl {
	font-family: 'NotoSansJPBold', sans-serif;
	background-repeat: no-repeat;
	background-position: 10px 8px;
	color: #ffffff;
	font-size: 1.2em;
	line-height: 1.0;
	padding: 8px 12px 8px 38px;
	margin-bottom: 10px;
}
#main .category-ttl a:link,
#main .category-ttl a:visited {
	color: #fff;
}
#main .category-ttl a:hover,
#main .category-ttl a:active {
	color: #ddd;
}


/* ----------------------------------------------------------------------

COMMON : Entry & Page Title

---------------------------------------------------------------------- */
#main .category-ttl-partnews {
	color: #7c6862;
	padding-left: 4px;
	margin: 0 0 10px;
	font-size: 0.75rem;
	letter-spacing: 2px;
	border-bottom: 1px solid #ab938c;
}

#main .entry-ttl,
#main .page-ttl {
	font-size: 1.1em; 
	line-height: 1.4;
	font-family: 'NotoSansJPBold';
	margin: 0 0 20px;
	font-weight:bold;
	color: #ffffff;
	padding: 4px 14px;
	clear: both;
}
#main .entry-ttl.entry-ttl-partners {
	color: #333;
	font-size: 1.5em; 
	padding: 1em 0 0;
	background: none;
	font-weight: normal;
	font-family: 'NotoSansJP','YuGothic','Yu Gothic','游ゴシック','游ゴシック体','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,'メイリオ', sans-serif;
}
#main .entry .entry-date {
  float: right;
  margin: 0 0 10px 0;
  font-size: 90%; 
  color: #666666;
}
#main .entry .entry-org {
  float: left;
  margin: 0 0 10px 0;
  font-size: 90%; 
  color: #666666;
}


/* ----------------------------------------------------------------------

COMMON : Body,More

---------------------------------------------------------------------- */
/* ========== Body,More ========== */
#main .entry-body,
#main .entry-more,
#main .page-body,
#main .page-more {
	clear: both;
	word-wrap: break-word;
	font-size: 1em; 
}

/* ----------------------------------------------------------------------

COMMON : Entries & Pages List

---------------------------------------------------------------------- */
.entries .list-item,
.pages .list-item {
	background: #ffffff;
	border-bottom: 1px solid #f0f0f0;
	overflow: hidden;
	position: relative;
	margin: 0 0 6px 0;
}
.entries .list-item-jcx,
.pages .list-item-jcx  {
	background:#ffffff url("../img/cmn/icn-jcx.jpg") no-repeat;
	background-size:71px 22px;
	background-position: right 8px top 8px;
}
.entries .icn-partners,
.pages .icn-partners  {
	position: absolute;
	top: 8px;
	right: 3px;
	display: inline-block;
	padding: 4px 6px;
	line-height: 1;
	margin-right: 5px;
	text-align: center;
	vertical-align: top;
	background-color: #0078e6;
}
.entries .icn-partners .cat,
.pages .icn-partners .cat  {
	color: #fff;
	font-size: 0.9em;
}
.entries .icn-partners .cat .pr,
.pages .icn-partners .cat .pr {
	font-size: 0.9em;
}
.entries .list-item .ttl,
.pages .list-item .ttl {
	color:#ff0000;
	font-size:110%; 
	padding: 8px 0 8px 130px;
	margin:0;
}
.entries .list-item.list-item-jcx .ttl,
.pages .list-item.list-item-jcx .ttl {
	padding: 8px 80px 16px 130px;
}
.entries .list-item .smry,
.pages .list-item .smry {
	font-size:85%;
	padding: 0 80px 0 130px;
	color: #808080;
	margin: 0;
}
.entries .list-item .date,
.pages .list-item .date {
	font-size: 85%; 
	float: right;
	padding: 4px 10px 0 0;
	color: #666666;
	margin:0;
}
.entries .list-item .pic,
.pages .list-item .pic {
	width: 120px;
	max-height: 80px;
	float: left;
	margin: 0;
	overflow: hidden;
}

html > body .entries .list-item a,
html > body .pages .list-item a {
	display:block;
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
	text-indent:-9999em;
	text-align:left;
}
.entries .list-item a:hover,
.pages .list-item a:hover {
	background/*¥**/: #645856;
	filter: alpha(opacity=10);  
	-ms-filter: "alpha(opacity=10)";
	-moz-opacity: 0.1; 
	-khtml-opacity: 0.1;
	opacity: 0.1; 
}

.entries .more,
.pages .more {
	font-size:90%; 
	text-align:right;
	margin:0 0 20px 0;
}
.entries .more .mark,
.pages .more .mark {
	font-size:160%;
	line-height:1.2;
	vertical-align:bottom;
}
.entries .more a:link,
.entries .more a:visited {color:#ff0000;}
.entries .more a:hover,
.entries .more a:active {color:#cc0000;}

/* ========= Media Queries ========= */
		@media screen and (max-width:800px) {
.entries .list-item-jcx,
.pages .list-item-jcx {
	background-size: 70px auto;
}
.entries .list-item .ttl,
.pages .list-item .ttl {
	padding-top: 35px;
	padding-left: 110px;
	font-size: 1em;
	line-height: 1.5;
}
.entries .list-item.list-item-jcx .ttl,
.pages .list-item.list-item-jcx .ttl {
	padding-top: 35px;
	padding-right: 0 !important;
	padding-left: 110px;
}
.entries .icn-partners .cat,
.pages .icn-partners .cat  {
	font-size: 0.8em;
}
.entries .icn-partners .cat .pr,
.pages .icn-partners .cat .pr {
	display: none;
}
.entries .list-item .date,
.pages .list-item .date {
	position:absolute;
	font-size: 0.9em;
	top: 0;
	left: 0;
	float: none;
	padding: 0.6em 0 0 110px;
}
.entries .list-item .smry,
.pages .list-item .smry {
	display: none;
}
.entries .list-item .pic,
.pages .list-item .pic {
	width: 100px;
	margin-top: 8px;
}
		}



/* ----------------------------------------------------------------------

COMMON : Page

---------------------------------------------------------------------- */
#main .page .page-body .article {
	margin:0 0 30px 0;
}

#main .page .page-article {
	margin:0 0 50px 0;
	padding:0 10px;
}
#main .page .page-article-index {
	margin:0 0 20px 0;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	background:#ececec;
}
#main .page .page-article-index a:link,
#main .page .page-article-index a:visited {color:#645856; text-decoration:none;}
#main .page .page-article-index a:hover,
#main .page .page-article-index a:active {color:#ff0000; text-decoration:none;}
#main .page .page-article-index ul {
	zoom:1;
	padding: 4px 20px;
}
#main .page .page-article-index ul:after {
	content:"";
	display:block;
	clear:both;
	height:1px;
	line-height:0;
	overflow:hidden;
	visibility:hidden;
}
/**/
* html #main .page .page-article-index ul {
	height:1em;
	overflow:visible;
	visibility:hidden;
}
/**/
#main .page .page-article-index ul li {
	float:left;
	padding:0 10px 0 10px;
	font-size:90%;
}
#main .page .page-article-index ul li .mark {
	font-size:60%;
	line-height:1.0;
	padding:0 6px 0 0;
}
#main .page .page-article .page-article-inner {
	display:block;
	border:1px dotted #e3e2de;
	padding:10px;
	margin:0 20px 0 0;
}


/* ----------------------------------------------------------------------

Side

---------------------------------------------------------------------- */

/* ----------------------------------------------------------------------
Side : TOPICS
---------------------------------------------------------------------- */
#topics {
	margin: 0 0 10px;
	text-align: left;
}

#topics .topics-title {
	font-size: 1.3em;
	font-family: 'NotoSansJPBold';
	font-weight: bold;
	line-height: 1.0;
	color: #533f3a;
	background: #cac8c1;
	padding: 12px 0;
	text-align: center;
}

#topics .topics-list {
	background: #e3e2de;
}
#topics .topics-list-inr {
padding: 0 8px;
}

#topics .topics-list-item {
	border-top: 1px solid #ffffff;
	margin: 0;
}
#topics .topics-list-item-inr {
	padding: 10px 0;
}

#topics .topics-date {
	font-size: 0.8em;
	color: #666666;
}

#topics .topics-entry {
	font-size: 0.9rem;
	line-height: 1.4;
}


/* ========= Media Queries ========= */
		@media screen and (min-width: 800px) {
#side {
	text-align: center;
}
#JCXTop3,
#jcx-races {
	width: 48.5% !important;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0;
}

#topics .topics-list-inr {
	padding: 0;
	width: 100%;
}
#topics .topics-list-item {
	width: calc(25% - 1px);
	display: block;
	float: left;
	vertical-align: top;
	border-top: 0;
	border-right: 1px solid #ffffff;
	padding: 0;
}
#topics .topics-list-item-inr {
	padding: 10px;
	border-bottom: 1px solid #ffffff;
}
#topics .topics-list-item:nth-child(4n) {
  border-right: 0;
}
		}

/* ----------------------------------------------------------------------
Side : JCX RANKINGS
---------------------------------------------------------------------- */
iframe#JCXTop3 {
  height: 638px;
  width: 100%;
  margin: 0 0 10px 0;
  padding: 0;
  overflow: hidden;
}

#Top3 {
	background-color: #533f3a;
}

#rankingTop3 {
  overflow: hidden;
  padding: 0 8px 4px 8px;
  margin: 0 0 10px 0;
}

#rankingTop3 .rankingTop3-title {
  text-align: center;
  color: #ffffff;
  font-size: 0.8rem;
  padding: 5px 0 10px 0;
  border-bottom: 1px solid #645856;
  font-family: 'NotoSansJPBold';
}

#rankingTop3 h3 {
  font-size: 0.9rem;
  line-height: 1.0;
  color: #ffffff;
  text-align: center;
  padding: 12px 0;
}

#rankingTop3 ol {
  border-bottom: 1px solid #645856;
} 

#rankingTop3 li {
  position:relative;
  font-size: 0.8rem;
  line-height: 1.2;
  margin: 0 0 12px 0;
  padding: 3px 0 0 24px;
}

#rankingTop3 li.rank01 {
  background: url(../img/cmn/side-ranking01.gif) 0 10px no-repeat;
  color: #ff3f5b;
}

#rankingTop3 li.rank02 {
  background: url(../img/cmn/side-ranking02.gif) 0 10px no-repeat;
  color: #e3e2de;
}

#rankingTop3 li.rank03 {
  background: url(../img/cmn/side-ranking03.gif) 0 10px no-repeat;
  color: #e3e2de;
}

#rankingTop3 li .name {
  display: block;
  font-size: 0.9rem;
  width: 170px;
  margin: 0 0 5px 0;
  font-family: 'NotoSansJPBold';
}

#rankingTop3 li .team {
  display: block;
  font-size: 0.7rem;
  padding: 0 0 0 5px;
}

#rankingTop3 li .point {
  display: block;
  float: right;
  font-size: 0.7rem;
  margin: 0;
}

#rankingTop3 .view-all {
  text-align: center;
  color: #ffffff;
  line-height: 1.0;
  padding: 5px 0 0 0;
}

#rankingTop3 .view-all a {
  display: block;
  padding: 10px 0;
}

#rankingTop3 .view-all a:link,
#rankingTop3 .view-all a:visited {color: #ffffff;}
#rankingTop3 .view-all a:hover,
#rankingTop3 .view-all a:active {color: #ff3f5b;}

/* ----------------------------------------------------------------------
Side : JCX Races
---------------------------------------------------------------------- */
#jcx-races {
  margin: 0 0 10px 0;
}

#jcx-races .jcx-races-hdr {
  background: #ff0000;
  padding: 12px 0 8px 0;
  margin: 0 0 2px 0;
  font-family: 'NotoSansJPBold';
}

#jcx-races .jcx-races-title-logo {
  text-align: center;
  padding: 0 0 8px 0;
}

#jcx-races .jcx-races-title {
  font-size: 1em;
  line-height: 1.0;
  color: #ffffff;
  text-align: center;
}

#jcx-races .jcx-races-list-item {
  margin: 0 0 2px 0;
  overflow: hidden;
  position: relative;
  zoom: 1;
  width: 100%;
}

#jcx-races .jcx-races-list-item:after {
  content: "";
  display: block;
  clear: both;
  height: 1px;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
}
/**/
* html #jcx-races .jcx-races-list-item {
  height: 1em;
  overflow: visible;
  visibility: hidden;
}
/**/

#jcx-races .jcx-races-list-item .race-num {
	float: left;
	width: 42px;
	height: 40px;
	background: #533f3a;
	text-align: center;
}

#jcx-races .jcx-races-list-item .race-num .num {
  display: inline-block;
  font-size: 1em;
  line-height: 1.0;
  padding-top: 12px;
  color: #ffffff;
  font-family: 'NotoSansJPBold';
}

#jcx-races .jcx-races-list-item .race-num .class {
  display: block;
  font-size: 0.5rem;
}

#jcx-races .jcx-races-list-item .race-info {
	height: 40px;
	width: calc(100% - 42px);
	margin: 0 0 0 42px;
	text-align: left;
}

#jcx-races .jcx-races-list-item .race-info .org {
  display: block;
  float: right;
  text-align: right;
  font-size: 0.75em;
  line-height: 1.0;
  color: #ffffff;
  padding: 5px 5px 0 0;
}

#jcx-races .jcx-races-list-item .race-info .date {
  display: block;
  font-size: 0.7em;
  line-height: 1.0;
  padding: 5px 0 5px 5px;
  color: #ffffff;
}

#jcx-races .jcx-races-list-item .race-info .uci {
	position: absolute;
	display: block;
	right: 0;
	bottom: 4px;
	padding-right: 5px;
}

#jcx-races .jcx-races-list-item .race-info .uci img {
  width: 31px;
}

#jcx-races .jcx-races-list-item .race-info .place {
  display: block;
  font-size: 0.8em;
  color: #ffffff;
  line-height: 1.0;
  padding: 0 0 0 5px;
  font-family: 'NotoSansJPBold';
}

#jcx-races .jcx-races-list-item a {
  display: block;
  height: 100%;
  width: 100%;
  text-align: left;
  background: #645856;
  color: #ffffff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
#jcx-races .jcx-races-list-item a:hover {
  filter: alpha(opacity=70);  
  -ms-filter: "alpha(opacity=70)";
  -moz-opacity: 0.7; 
  -khtml-opacity: 0.7;
  opacity: 0.7; 
}


/* ----------------------------------------------------------------------

Footer Partners

---------------------------------------------------------------------- */
#ptnr_ftr {
  width: 100%;
  background: #ffffff;
  color: #533f3a;
  text-align: center;
  padding: 30px 0;
}

#ptnr_ftr .ptnr-title {
  font-family: 'NotoSansJPBold';
}

#ptnr_ftr ul {
  display: inline-block;
  margin: 0 auto;
}
#ptnr_ftr li {
  display: inline-block;
  float: left;
  text-align: center;
}

/* ========= Media Queries ========= */
@media screen and (min-width:1280px) {
	#ptnr_ftr ul {
		width: 1280px;
		margin: 0 auto;
	}
}
@media screen and (min-width:1056px) and (max-width:1279px) {
	#ptnr_ftr ul {
		width: 1020px;
		margin: 0 auto;
	}
}

@media screen and (min-width:801px) and (max-width:1055px) {
	#ptnr_ftr ul {
		padding-bottom: 40px;
	}
	#ptnr_ftr li {
		width: 33.33%;
	}
	#ptnr_ftr li img {
		width: 100%;
		max-width: 255px;
	}
}

@media screen and (max-width:800px) {
	#ptnr_ftr ul {
		padding-bottom: 40px;
	}
	#ptnr_ftr li {
		width: 50%;
	}
	#ptnr_ftr li img {
		width: 100%;
		max-width: 255px;
	}
}


/* ----------------------------------------------------------------------

Footer

---------------------------------------------------------------------- */
#ftr {
	width: 100%;
	background: #99958d;
	color: #ffffff;
}
#ftr a:link,
#ftr a:visited {color:#ffffff;}
#ftr a:hover,
#ftr a:active {color:#dddddd;}

#ftr a:hover img,
#ftr a:hover img {
	filter: alpha(opacity=70);  
	-moz-opacity: 0.7; 
	opacity: 0.7; 
}

/* ========== ロゴ ========== */
#ftr .logo {
  text-align: center;
  padding: 24px 0 20px;
  margin: 0 auto;
  max-width: 304px;
}

/* ========== オーガナイザーリンク ========== */
#ftr .link-org {
	clear: both;
	border-top: 1px solid #b3aea7;
	border-bottom: 1px solid #b3aea7;
	font-size: 0.8em;
	line-height: 2.0;
	padding: 12px;
	margin: 0;
}
/* ========== ボトム ========== */
#ftr .ftr-bottom .link-others {
	font-size: 0.8em;
	line-height: 2.0;
	margin: 0;
}
#ftr .ftr-bottom .copyright {
	font-size: 0.8em;
	line-height: 2.0;
	font-family: Arial, sans-serif;
	margin: 0;
}

/* ========= Media Queries ========= */

		@media screen and (min-width:800px) {
/* ========== フッターナビ ========== */
#ftr ul.navi {
	display: block;
	margin: 0 auto;
	text-align: center;
}
#ftr ul.navi li {
	display: inline-block;
	font-size: 0.85em;
	line-height: 2.0;
	text-align: center;
	padding: 10px;
}
#ftr ul.navi li .txt {
	display: block;
}
#ftr ul.navi li a {
	display: block;
	width: 70px;
	height: 100%;
	padding-top: 5px;
}
	/* ========== オーガナイザーリンク ========== */
#ftr .link-org {
	text-align:center;
}
	/* ========== ボトム ========== */
#ftr .ftr-bottom {
	height:40px;
	margin:0 auto;
	padding: 10px 20px;
}
#ftr .ftr-bottom .link-others {
	width: 60%;
	float: right;
	text-align: right;
}
		}

		@media screen and (max-width:799px) {
#ftr {
	text-align: center;
	position: relative;
}
/* ========== ロゴ ========== */
#ftr .logo {
	padding: 20px 0;
}
#ftr .logo img {
	width: 200px;
	height: auto;
}
/* ========== フッターナビ ========== */
#ftr ul.navi {
	display: none;
}
/* ========== オーガナイザーリンク ========== */
#ftr .link-org {
	text-align: left;
}
#ftr .link-org br {
	display: none;
}
/* ========== ボトム ========== */
#ftr .ftr-bottom .copyright {
	padding: 10px 0;
}
#ftr .ftr-bottom .link-others {
	padding: 12px 0;
	margin: 0;
	border-bottom:1px solid #b3aea7;
}
		}

/* ----------------------------------------------------------------------

Pagenation

---------------------------------------------------------------------- */
#page-navi {
  display: block;
  float: right;
  margin: 5px 0 20px 0;
}

#page-navi li {
  display: inline-block;
  background: #e2e1dd;
}

#page-navi li a {
  font-size: 1rem;
  line-height: 1.2;
  display:block;
  padding: 5px 12px;
}

#page-navi li a:link,
#page-navi li a:visited {
  color: #533f3a;
}

#page-navi li a:hover,
#page-navi li a:active {
  color: #ff3f5b;
}


/* ----------------------------------------------------------------------

PARTNERS

---------------------------------------------------------------------- */
#partners #main .category-ttl {
  padding-left: 18px;
}


/* ----------------------------------------------------------------------

NEWS

---------------------------------------------------------------------- */
/* ======== Entry Page ======== */
#news #main .category-ttl {
  background-image: url(../img/news/icn.png);
}

#news #main .entry .entry-body h2 {
	font-size: 1.3em; 
	line-height: 1.4;
	/*color: #ff4040;*/
	color: #730046;
	margin-bottom: 1em;
}
#news #main .entry .entry-body p {
	margin-bottom: 2em;
}

#news table {
  border-left:1px solid #e3e2de;
  border-top:1px solid #e3e2de;
  width:100%;
	margin-bottom: 1em;
}

#news table th {
  border-bottom:1px solid #e3e2de;
  border-right:1px solid #e3e2de;
  color:#ffffff;
  background:#bdbcb5;
  text-align:center;
  padding:5px 10px;
  font-size:90%;
	width: auto !important;
}

#news table td {
  border-right:1px solid #e3e2de;
  border-bottom:1px solid #e3e2de;
  padding:5px 10px;
  font-size:90%;
	width: auto !important;
}

#news table.races th {
  font-weight: normal;
  padding: 2px 5px;
}

#news table.races td {
  padding: 2px 5px;
}

#news table.races .even td {
  background: #edede8;
}

/* ========= Media Queries ========= */
@media screen and (max-width:760px) {
	#news .entry-body table th.left {
		width: 25% !important;
	}
}

/* ----------------------------------------------------------------------

RESULT

---------------------------------------------------------------------- */
/* ======== Index Page ======== */
#results_all_frame {
	width: 100%;
	height: auto;
	border: 0;
}
#results .list-item-jcx .ttl {
	padding-right:90px;
}

/* ======== Entry Page ======== */
.results_entry #main {
	width:100%;
}
#results #main .category-ttl {
	background-image: url(../img/results/icn.png);
}

#results #main .entry .entry-date {
	float:right;
	margin:0 0 5px 0;
	font-size:90%; 
	color:#666666;
}
#results #main .entry .entry-org {
	float:left;
	margin:0 0 5px 0;
	font-size:90%; 
	color:#808080;
}

/* ========= Media Queries ========= */
		@media screen and (min-width:1056px) {
#results table.table {
	max-width: 1010px !important;
	overflow: scroll;
}
		}
			@media screen and (min-width:801px) {
#results_all_frame {
	height: 500px;
	overflow-y: scroll;
	overflow-x: auto;
}
#results #main .entry {
	padding:  0 1em;
}
#results table.table {
	width:100%;
	margin:0 auto;
}
		}
		@media screen and (max-width:800px) {
#results_all_frame {
	height: 400px;
}
#Results_list {
	-webkit-overflow-scrolling: touch;
	overflow: scroll;
}
#results #tab li {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin: 0 3px 3px 0;
}
#results .results-wrap {
	margin: 0 0 20px;
	width: 100%;
	overflow: scroll;
}
#results table.table {
	table-layout: auto;
}
#results th,#results td {
	word-wrap: break-word;
}
		}



/* ----------------------------------------------------------------------

RANKINGS

---------------------------------------------------------------------- */
/* ======== Index Page ======== */
#rankings_frame {
	width: 100%;
	height: auto;
	border: 0;
	overflow: scroll;
	white-space:nowrap;
}

/* ======== Entry Page ======== */
#rankings #main {
	width:100%;
	}
#rankings #main .category-ttl {
	background-image: url(../img/rankings/icn.png);
}
#rankings #ranking_season_list {
	clear: both;
	padding: 10px 0;
}
#rankings #ranking_season_list select {
	width: 300px;
	height: 30px;
	border: 1px solid #a39f97;
	background-color: #ffffff;
	font-size: 0.85rem;
	color: #333333;
}
#rankings #about_JCXseries {
	margin: -40px 0 20px;
	text-align: right;
}

#rankings #main .page .page-more {
	clear:both;
}
#rankings #tab {
	clear:both;
}
#rankings #tab li {
	float:left;
	padding:8px;
	cursor:pointer;
	background:#e3e3e3;
	border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
	behavior:url(PIE.htc);
	margin:0 3px 0 0;
	font-size: 0.9em;
}
#rankings #tab li.select {
	background:#ff0000;
	color:#ffffff;
}
#rankings .disnon {
	display: none;
}
#rankings .rankings-wrap {
	margin:0 auto 20px;
	clear:both;
}
#rankings .rankings-wrap .dl {
	clear: both;
	padding: 20px 0 0;
	font-size: 0.9em;
}

#rankings table.table {
	border-left:1px solid #e3e3e3;
	position:relative;
	width:100%;
	margin:0 auto;
}

#rankings table.table a:link,
#rankings table.table a:visited {color:#333333; text-decoration:underline;}
#rankings table.table a:hover,
#rankings table.table a:active {color:#333333; text-decoration:none;}

#rankings table.table .odd td {
	background:#edede8;
}
#rankings .table_th {
	font-weight: normal;
	color: #000000;
	text-align: center;
	background: #ffffff;
	padding: 8px 0;
	font-size: 0.8em;
	border-top: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
}
#rankings .table_td {
	border-bottom: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	font-size: 0.85em;
	padding: 3px 0;
	text-align: center;
}
#rankings .table_td:nth-child(1) {
}
#rankings .table_td:nth-child(2) {
	white-space:nowrap;
	text-align:left;
	padding:0 0 0 3px;
}
#rankings .table_td:nth-child(3) {
	padding:0 0 0 3px;
	text-align:left;
}

/*No.1*/
#rankings table.table .odd:nth-child(1) td {
	background:#ff7f7f;
	}
/*No.2*/
#rankings table.table .even:nth-child(2) td {
	background:#c9c9c9;
	}
/*No.3*/
#rankings table.table .odd:nth-child(3) td {
	background:#bda66d;
	}

#rankings table.about {
  border-left:1px solid #e3e2de;
  border-top:1px solid #e3e2de;
  width:100%;
}

#rankings table.about th {
  border-bottom:1px solid #e3e2de;
  border-right:1px solid #e3e2de;
  color:#ffffff;
  background:#bdbcb5;
  text-align:center;
  padding:5px 10px;
  font-size:90%;
}

#rankings table.about td {
  border-right:1px solid #e3e2de;
  border-bottom:1px solid #e3e2de;
  padding:5px 10px;
  font-size:90%;
}

/* ========= Media Queries ========= */
@media screen and (min-width:1056px) {
	#rankings .table_td:nth-child(2) {
		padding:0 5px;
	}
	#rankings .table_td:nth-child(3) {
		padding:0 5px;
	}
}
@media screen and (max-width:1055px) {
	#rankings #about_JCXseries {
		margin: 0 0 20px;
		text-align: left;
	}
}
@media screen and (min-width:801px) {
	#rankings_frame {
	height: 500px;
	overflow-y: scroll;
	overflow-x: scroll;
	}
	#rankings .page {
		padding: 0 1em;
	}
}
		@media screen and (max-width:800px) {
	#rankings_frame {
	height: 400px;
	}
#Rankings_list {
	-webkit-overflow-scrolling: touch;
	overflow: scroll;
}
#rankings .rankings-wrap {
	overflow:scroll;
}
#rankings table.table {
	table-layout: auto;
}
#rankings th,#rankings td {
	word-wrap: break-word;
}
		}

/* ----------------------------------------------------------------------

ENTRY

---------------------------------------------------------------------- */
/* ======== Entry Page ======== */
#entry #main .category-ttl {
  background-image: url(../img/entry/icn.png);
}

#entry #main .entry .entry-ttl {
	color: #333333;
	}
#entry #main .entry .entry-date {
	float: right;
	margin: 0 0 5px 0;
	font-size: 0.9em; 
	color: #666666;
	}



/* ----------------------------------------------------------------------

ABOUT

---------------------------------------------------------------------- */
#about #main .category-ttl {
  background-image: url(/img/about/icn.png);
}

#about #main .page .page-ttl2 {
  font-size: 1.3rem;
  border: 1px solid #e3e2de;
  background: #ffffff;
  padding: 3px 12px;
  margin: 0 0 20px;
}

#about #main .page .page-ttl3 {
  color: #533f3a;
  font-size: 1.2rem;
  line-height: 1.4;
  padding: 4px 0;
  margin: 20px 0 10px 0;
  background: transparent;
  border-bottom: 3px double #e3e2de;
  clear: both;
}

#about #main .page .page-ttl4 {
  color: #533f3a;
  font-size: 1rem;
  line-height: 1.4;
  padding: 0;
  margin: 10px 0;
  background: transparent;
  clear: both;
}

#about #main .page .page-article .attn {
  font-size: 85%; 
}

#about #main .page .page-article dl {
  margin: 0 0 20px 20px;
}

#about #main .page .page-article dl dt {
  display: block;
  color: #533f3a;
  margin: 0;
}

#about #main .page .page-article dl dd {
  display: block;
  color: #666666;
  margin: 0 0 10px 0;
}

#about #main .page .page-article dl dd h4 {
  display: block;
  margin: 0 0 0 20px;
}

#about #main .page .page-article dl dd p {
  display: block;
  margin: 0 0 10px 20px;
}

#ajocc + div {
  height: 300px;
  overflow: auto;
  border-bottom: 1px solid #e3e2de;
}

/* ========================================
ABOUT : common
Media Queries
======================================== */
@media screen and (max-width:800px) {
  #about #main .page .page-article {
	margin:0 0 50px 0;
  }
  #about #main .page .page-ttl3 {
	padding: 4px 8px;
  }
}

/* ----------------------------------------------------------------------
ABOUT : INDEX
---------------------------------------------------------------------- */
#about #main .about-menu {
  padding: 0 0 20px 0;
}

#about #main .thumbnail {
  float: left;
  width: 210px;
  padding: 0 15px 0 0;
}

#about #main ul.about-navi {
  margin: 0 0 0 225px;
}

#about #main ul.about-navi li {
  border-bottom: 1px solid #e3e2de;
  padding: 3px;
}

#about #main ul.about-navi a {
  display: block;
}

#about #main ul.about-navi a:link,
#about #main ul.about-navi a:visited {
  color: #533f3a;
}
#about #main ul.about-navi a:hover,
#about #main ul.about-navi a:active {
  color: #ff0000;
}

/* ========================================
ABOUT : INDEX
Media Queries
======================================== */
@media screen and (min-width:801px) and (max-width:1055px) {
  #about #main .thumbnail {
    background: #ffffff;
  }
}
@media screen and (max-width:800px) {
  #about #main .thumbnail {
    width:30%;
  }
#about #main ul.about-navi {
    margin:0 0 0 35%;
  }
}

/* ----------------------------------------------------------------------
ABOUT : AJOCC
---------------------------------------------------------------------- */
#about ul.page-list {
  margin:10px 0;
}

#about ul.page-list li {
  list-style-type:disc;
  margin:0 0 0 1.5em;
}

#about table {
  border-left:1px solid #e3e2de;
  border-top:1px solid #e3e2de;
  width:100%;
}

#about table th {
  border-bottom:1px solid #e3e2de;
  border-right:1px solid #e3e2de;
  color:#ffffff;
  background:#bdbcb5;
  text-align:center;
  padding:5px 10px;
  font-size:90%;
}

#about table td {
  border-right:1px solid #e3e2de;
  border-bottom:1px solid #e3e2de;
  padding:5px 10px;
  font-size:90%;
}

/* ----------------------------------------------------------------------
ABOUT : JCX : Races
---------------------------------------------------------------------- */
#about #main .page table.races {
  width: 100%;
}

#about #main .page table.races th {
  font-weight: normal;
  text-align: left;
  padding: 2px 5px;
}

#about #main .page table.races td {
  padding: 2px 5px;
}

#about #main .page table.races .even td {
  background: #edede8;
}


/* ========================================
ABOUT : JCX : Races
Media Queries
======================================== */
@media screen and (min-width:1056px) {
	#about #main .page table.races td {
	white-space: nowrap;
	}
}
@media screen and (min-width:801px) and (max-width:1055px) {
	#about #main .page table.races td {
	white-space: nowrap;
	}
}
@media screen and (max-width:800px) {
  #about #main .page table.races td:nth-child(1) {
	white-space: nowrap;
  }
}

/* ----------------------------------------------------------------------
ABOUT : JCX : PointTable
---------------------------------------------------------------------- */
#about #main .page .class1 {
  width: 50%;
  float: left;
  padding: 0 0 30px 0;
}

#about #main .page .class1 h3 {
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 1.0;
  padding: 4px 0;
  text-align: center;
  margin: 0;
  background: #ff0000;
  border-right: 1px solid #e3e2de;
  border-left: 1px solid #e3e2de;
}

#about #main .page .class2 {
  width: 50%;
  float: right;
  padding: 0 0 30px 0;
}

#about #main .page .class2 h3 {
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 1.0;
  padding: 4px 0;
  text-align: center;
  margin: 0;
  background: #533f3a;
  border-right: 1px solid #e3e2de;
  border-left: 1px solid #e3e2de;
}

#about table.points {
  width: 100%;
  border: 1px solid #e3e2de;
}

#about table.points th {
  font-weight: normal;
  text-align: left;
  padding: 2px 5px;
}

#about table.points td {
  padding: 2px 5px;
}

#about table.points .even td {
  background: #edede8;
}

#about table.points .num {
  width: 54px;
  text-align: center;
}

#about #main .page table.points .list01 {
  width: 108px;
  text-align: center;
}

#about #main .page table.points .list02 {
  width: 138px;
  text-align: center;
}

/* ========= Media Queries ========= */
@media screen and (max-width:800px) {
  #about #main .page .class1,
  #about #main .page .class2 {
    width: 100%;
  }
}


/* ----------------------------------------------------------------------
Rider Search
---------------------------------------------------------------------- */
#rider_search #main .category-ttl {
  background-image: url(/img/riders/icn.png);
}

/* ----------------------------------------------------------------------

INFO

---------------------------------------------------------------------- */
#info #main .category-ttl {
  background-image: url(/img/info/icn.png);
}
#info #main .page h2 {
  font-size: 1.3rem;
  border: 1px solid #e3e2de;
  background: #ffffff;
  padding: 3px 12px;
  margin: 0 0 20px;
}


/* ----------------------------------------------------------------------

AJOCC

---------------------------------------------------------------------- */
#ajocc #main .category-ttl {
  background-image: url(/img/info/icn.png);
}


/* ----------------------------------------------------------------------

CALENDAR

---------------------------------------------------------------------- */
/* ======== Title ======== */
#calendar #main .category-ttl {
  background-image: url(../img/calendar/icn.png);
}

#calendar #calendar_season_list {
	clear: both;
	padding: 10px 0;
}
#calendar #calendar_season_list select {
	width: 300px;
	height: 30px;
	border: 1px solid #a39f97;
	background-color: #ffffff;
	font-size: 0.85rem;
	color: #333333;
}

#calendar #tab {
	clear:both;
	}
#calendar #tab li {
	float:left;
	padding:6px;
	cursor:pointer;
	background:#e3e3e3;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	behavior:url(PIE.htc);
	margin:0 3px 3px 0;
	font-size:90%;
	}
#calendar #tab li.select {
	background:#ff0000;
	color:#ffffff;
	}
#calendar .disnon {
	display: none;
	}
#calendar .calendar-wrap {
	margin:0 auto 20px auto;
	clear:both;
	}

#calendar #main .entry .entry-date {
	float:none;
	margin:0;
	font-size:100%; 
	color:#333333;
	}
#calendar #main .entry .entry-body {
	margin:0;
	}
#calendar #main .module-calendar {
	width: 100%;
	border-top: 3px solid #ff0000;
	margin: 0 0 20px 0;
	}
#calendar #main .module-calendar table {
	width:100%;
	border-right:1px solid #e3e2de;
	}
#calendar #main .module-calendar table th {
	width:14%;
	line-height:30px;
	text-align:center;
	color:#533f3a;
	font-weight:normal;
	border-right:1px solid #f9f9f9;
	border-bottom:1px solid #e3e2de;
	background:#e3e2de;
	font-size:90%;
	}
#calendar #main .module-calendar table th.Saturday {
	background:#e6d5d1;
	}
#calendar #main .module-calendar table th.Sunday {
	background:#e6d5d1;
	border-right:1px solid #e3e2de;
	}
#calendar #main .module-calendar table td {
	width:14%;
	min-height:40px;
	border-left:1px solid #e3e2de;
	border-bottom:1px solid #e3e2de;
	vertical-align:top;
	padding:5px 0 0 0;
	}
#calendar #main .module-calendar table td .race_day {
	display:block;
	text-align:center;
	padding:0 0 5px 0;
	font-size:90%;
	}
#calendar #main .module-calendar table td .race_day_only {
	display:block;
	text-align:center;
	margin-bottom:50px;
	font-size:90%;
	}
#calendar #main .module-calendar table td .race_title {
	display:block;
	margin-bottom:5px;
	font-size:80%;
	}
#calendar #main .module-calendar table td a {
	display:block;
	padding:4px;
	}
#calendar #main .module-calendar table td a:link,
#calendar #main .module-calendar table td a:visited {
	background:#533f3a;
	color:#ffffff;
	}
#calendar #main .module-calendar table td a:hover,
#calendar #main .module-calendar table td a:active {
	background:#e6e6e6;
	color:#ff0000;
	}
#calendar #main .module-calendar table td .race-jcx a:link,
#calendar #main .module-calendar table td .race-jcx a:visited {
	background:#ff0000 url("../img/cmn/icn-jcx.jpg") -3px 0 no-repeat;
	background-size:50px;
	padding:13px 3px 0 3px;
	}
#calendar #main .module-calendar table td .race-jcx a:hover,
#calendar #main .module-calendar table td .race-jcx a:active {
	background:#e6e6e6 url("../img/cmn/icn-jcx.jpg") -3px 0 no-repeat;
	background-size:50px;
	color:#ff0000;
	padding:13px 3px 0 3px;
	}

/* ======== LIST ======== */
#calendar #main .module-calendar table.race-list {
  position:relative;
  width: 100%;
  table-layout: fixed;
}
#calendar #main .module-calendar table.race-list th {
  font-size: 85%;
  line-height: 1.3;
  padding: 10px 0;
  text-align: center;
  color: #533f3a;
  font-weight: normal;
  border-right: 1px solid #f9f9f9;
  border-bottom: 1px solid #e3e2de;
  background: #e3e2de;
}
#calendar #main .module-calendar table.race-list th:nth-last-child(1) {
border-right: none;
}
#calendar #main .module-calendar table.race-list th.cel01 {width:20%;}
#calendar #main .module-calendar table.race-list th.cel02 {width:16%; white-space: nowrap;}
#calendar #main .module-calendar table.race-list th.cel03 {width:46%;}
#calendar #main .module-calendar table.race-list th.cel04 {width:18%; white-space: nowrap;}
#calendar #main .module-calendar table.race-list td {
  font-size:85%;
}
#calendar #main .module-calendar table.race-list td.cel01 {padding-left:6px; padding-right:6px;}
#calendar #main .module-calendar table.race-list td.cel02 {padding-left:6px; padding-right:6px; text-align: left;}
#calendar #main .module-calendar table.race-list td.cel03 {padding-left:6px; padding-right:6px;}
#calendar #main .module-calendar table.race-list td.cel04 {text-align:center;}
#calendar #main .module-calendar table.race-list td.cel04 img {width: 80%; max-width: 60px;}
#calendar #main .module-calendar table.race-list td p {
  margin:0;
}
#calendar #main .module-calendar table.race-list td a {
  display:inline;
  padding:0;
}
#calendar #main .module-calendar table.race-list td a:link,
#calendar #main .module-calendar table.race-list td a:visited {
  background:transparent;
  color:#ff0000;
}
#calendar #main .module-calendar table.race-list td a:hover,
#calendar #main .module-calendar table.race-list td a:active {
  background:#transparent;
  color:#999999;
}

/* ========= Media Queries ========= */
@media screen and (min-width:1056px) {
	#calendar #tab li {
	border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
	}
	#calendar .calendar-wrap {
	position:relative;
	height:auto;
	zoom:1;
	}
}
@media screen and (min-width:801px) and (max-width:1055px) {
	#calendar #tab li {
	border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
	}
}

@media screen and (max-width:800px){
	#calendar #main .module-calendar table.race-list th {
		font-size: 0.75em;
	}
	#calendar #main .module-calendar table.race-list th.cel01,
	#calendar #main .module-calendar table.race-list td.cel01 {
		width: 20%;
	}
	#calendar #main .module-calendar table.race-list th.cel03,
	#calendar #main .module-calendar table.race-list td.cel03 {
		width: 65%;
	}
	#calendar #main .module-calendar table.race-list th.cel04,
	#calendar #main .module-calendar table.race-list td.cel04 {
		width: 15%;
	}
	#calendar #main .module-calendar table.race-list td.cel04 img {
		width: 40px;
		height: auto;
	}
}