/* 
    Created on : 2017/08/20, 12:51:43
    Author     : shun
*/
a:link {
  color: #00688c;
  text-decoration: none; }

a:visited {
  color: #993300;
  text-decoration: none; }

a:active {
  color: #ff3f5b;
  text-decoration: none; }

a:hover {
  color: #ff3f5b;
  text-decoration: none; }

img {
  border: 0; }

.main_container {
  padding: 0;
  margin: 0;
  background-color: #FAFAF6;
  box-sizing: content-box; }

header {
  width: 100%;
  background-color: #FAFAF6;
  color: #333333; }
  header .header_inner {
    position: relative;
    padding: 0 1rem; }
  header .sp-logo {
    margin: 0; }
    header .sp-logo a img {
      height: 46px; }
    header .sp-logo span {
      font-size: medium;
      margin-left: 5px; }
  header .sp-menu, header .sp-rankings {
    box-sizing: content-box; }
  header ul {
    margin: 0; }
    header ul li {
      display: inline-block; }
      header ul li .nav_sp {
        display: none; }
  @media screen and (max-width: 760px) {
    header {
      position: fixed;
      height: 80px;
      top: 0;
      z-index: 1000;
      background-color: #fafaf6; }
      header .header_inner .sp-logo {
        margin: 12px 0 0;
        text-align: center; }
        header .header_inner .sp-logo img {
          width: auto;
          height: auto;
          max-height: 60px; }
      header .header_inner .sp-menu {
        position: absolute;
        display: inline-block;
        width: 10%;
        left: 20px;
        top: 10px;
        cursor: pointer; }
        header .header_inner .sp-menu img {
          width: auto;
          height: auto;
          max-height: 40px; }
      header .header_inner .sp-rankings {
        position: absolute;
        width: 8%;
        top: 10px;
        right: 20px; }
        header .header_inner .sp-rankings img {
          width: auto;
          height: auto;
          max-height: 40px; }
      header .header_inner #headerMenuMain {
        display: none;
        position: absolute;
        left: 0;
        top: 67px;
        z-index: 1000;
        width: 100%;
        height: auto; }
      header .header_inner ul.navi {
        background-color: #e3e2de;
        padding: 0; }
        header .header_inner ul.navi li {
          display: block;
          height: 44px;
          border-bottom: 3px solid #fff; }
          header .header_inner ul.navi li .nav_sp {
            display: block; }
            header .header_inner ul.navi li .nav_sp .txt {
              font-size: 1.6em;
              line-height: 1;
              list-style-type: none;
              vertical-align: middle; }
          header .header_inner ul.navi li .sp_none {
            display: none; }
          header .header_inner ul.navi li a {
            color: #533f3a; }
          header .header_inner ul.navi li img {
            height: 40px;
            width: auto;
            margin: 2px 1em 0; } }
  @media screen and (min-width: 761px) {
    header .sp-logo {
      float: left;
      width: 220px;
      padding-top: 6px; }
    header .sp-menu, header .sp-rankings {
      display: none; }
    header #headerMenuMain {
      display: block; }
    header ul li {
      float: left; } }
  @media screen and (min-width: 761px) and (max-width: 1055px) {
    header {
      padding: 0 0 16px; }
      header ul.navi {
        float: right;
        padding-top: 16px;
        padding-left: 0px; }
        header ul.navi li {
          float: left; }
          header ul.navi li img {
            width: 56px;
            height: auto; }
        header ul.navi li:nth-last-child(2) {
          padding: 0 6px 0 0; } }
  @media screen and (min-width: 1056px) {
    header {
      padding: 16px 0; }
      header ul.navi {
        display: inline-block;
        height: 46px;
        float: right; }
        header ul.navi li {
          display: inline-block;
          float: left;
          height: 46px;
          margin: 0; } }

.ptnr_logo_head {
  background-color: #ffffff;
  padding: 10px 0;
  max-height: 92px;
  overflow: hidden; }
  .ptnr_logo_head ul {
    width: 100%;
    text-align: center;
    margin: 0; }
    .ptnr_logo_head ul li {
      list-style-type: none;
      /*display: inline-block;*/
      float: center;
      margin: 0;
      padding: 0;
      text-align: center;
      vertical-align: middle; }
      .ptnr_logo_head ul li a:focus {
        outline: none; }
      .ptnr_logo_head ul li img {
        max-width: 255px;
        width: 100%;
        height: auto; }
  @media screen and (max-width: 760px) {
    .ptnr_logo_head {
      margin-top: 80px; } }

#main {
  padding: 0.5em 1em;
  margin-bottom: 2em; }

#ptnr_ftr {
  width: 100%;
  padding: 30px 0;
  background: #FFFFFF;
  text-align: center;
  padding: 30px; }
  #ptnr_ftr ul {
    padding-bottom: 40px;
    margin: 0 auto; }
    #ptnr_ftr ul li {
      display: inline-block; }

footer {
  color: #ffffff;
  background-color: #99958d;
  text-align: center; }
  footer a:link, footer a:visited {
    color: #ffffff; }
  footer a:hover, footer a:active {
    color: #dddddd; }
  footer p.logo {
    max-width: 304px;
    padding: 24px 0 20px; }
  footer ul li {
    width: 91px;
    height: 46px;
    display: inline-block;
    margin: 0 6px; }
    footer ul li a {
      padding-top: 6px;
      display: block; }
      footer ul li a img {
        display: block;
        margin: 0 auto; }
      footer ul li a span {
        display: block;
        font-size: 90%;
        line-height: 2.0; }
  footer p.link-org {
    padding: 12px 0;
    border-top: 1px solid #b3aea7;
    border-bottom: 1px solid #b3aea7; }
  footer .ftr-bottom {
    padding: 6px 20px 0; }
    footer .ftr-bottom p {
      padding-top: 8px; }
    footer .ftr-bottom .copyright {
      font-size: 85%; }
    footer .ftr-bottom .link-others {
      font-size: 90%; }

.mark {
  padding: 0;
  background-color: #FFFFFF00; }

.with_pop {
  margin-top: 0em; }

p.title_pop {
  font-size: 0.8em;
  margin-bottom: 0em; }

p.proviso {
  font-size: 0.8em;
  text-align: right; }

.alert {
  margin-bottom: 0px; }

#flash_view {
  padding: 10px 10px; }

#rider_search #search_send {
  width: 130px; }
#rider_search #contains_noentry {
  font-size: 0.9em; }

.point_series_index .rankings .ps_title {
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 6px 6px;
  background-color: #DDDDDD; }
  .point_series_index .rankings .ps_title h4 {
    display: inline; }
  .point_series_index .rankings .ps_title span {
    font-size: 0.8em; }
.point_series_index .rankings .panel a {
  outline: none; }
  .point_series_index .rankings .panel a h4 {
    margin: 0;
    background-color: #730046;
    color: #FFF; }
.point_series_index .rankings .panel panel-heading, .point_series_index .rankings .panel .panel-body {
  background-color: #FAFAF6; }
.point_series_index .ranking-box {
  width: 280px;
  height: 200px;
  position: static;
  float: left;
  margin: 0 4px 15px; }
  .point_series_index .ranking-box .point_series {
    padding: 0 1em 0; }
    .point_series_index .ranking-box .point_series .racers_row .team {
      margin-left: 2em; }

.racer_view .racer .dl-horizontal > dt {
  text-align: left;
  width: 110px; }
.racer_view .racer .dl-horizontal > dd {
  margin-left: 110px; }
.racer_view table.categories .cell__category {
  text-align: center; }
.racer_view table.results .cell__rank, .racer_view table.results .cell__rankper, .racer_view table.results .cell__holdpt, .racer_view table.results .cell__ajoccpt {
  text-align: center; }
.racer_view .ranking .dl-horizontal > dt {
  text-align: left;
  width: 210px; }
.racer_view .ranking .dl-horizontal > dd {
  margin-left: 210px; }

.racer_index .pagination_navi a, .racer_index .pagination_navi strong {
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px; }
.racer_index .pagination_navi a:visited {
  color: #00688c; }
.racer_index .cell__gender, .racer_index .cell__nationality, .racer_index .cell__category {
  text-align: center; }

#ajocc_ranking_view table tr {
  padding: 4px; }
#ajocc_ranking_view table td {
  white-space: nowrap;
  padding: 4px; }

#point_series_view table {
  font-size: small; }
  #point_series_view table tr {
    padding: 4px; }
    #point_series_view table tr th.meet, #point_series_view table tr th.rank, #point_series_view table tr th.sumups {
      writing-mode: vertical-rl;
      text-orientation: upright; }
    #point_series_view table tr td {
      white-space: nowrap;
      padding: 4px; }

div.convini_link {
  margin-left: 20px; }

table.table-striped tbody tr:nth-of-type(2n) {
  background-color: initial; }
table.table-striped tbody tr:nth-of-type(2n+1) {
  background-color: #edede8; }
table.table-striped tbody tr td {
  font-size: 0.8em;
  padding: 3px 2px; }

/*# sourceMappingURL=main.css.map */
