@charset "utf-8";

/* ----------------------------------------------------------------------
iframe表示用
---------------------------------------------------------------------- */

/* ----------------------------------------------------------------------

カテゴリタブ

---------------------------------------------------------------------- */
#cat_tab {
	clear: both;
	border-bottom: 2px solid #cccccc;
}
#cat_tab li {
	display: block;
	float: left;
	padding: 4px 8px;
	cursor: pointer;
	background: #e3e3e3;
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	margin: 0 2px 0;
	font-size: 0.85em;
}
#cat_tab li.selected {
	background: #ff0000;
	color: #ffffff;
}
#cat_tab li a {
	color: #666666;
}
.disnon {
	display: none;
}


/* ----------------------------------------------------------------------

JCX

---------------------------------------------------------------------- */
#ranking_jcx h1 {
	font-size: 1em;
	padding: 4px;
	margin: 0 0 10px;
	font-weight: bold;
}

/* ----------------------------------------------------------------------

RANKINGS テーブル：共通

---------------------------------------------------------------------- */
.ranking_list {
	/*
    width: 100%;
	height: 480px;
	overflow: scroll;
    */
}
.ranking_list_inr {
	width: 100%;
}
table {
	overflow: auto;
	height: 100%;
	border-top:1px solid #e3e3e3;
	border-left:1px solid #e3e3e3;
	background-color: #ffffff;
	margin-bottom: 20px;
	line-height: 1.2;
}
table tbody tr {
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
table tbody tr:nth-child(odd) {
	background-color: #efefef;
}
table th {
	font-weight: normal;
	font-size: 0.8em;
	color: #000000;
	text-align: center;
	background-color: #ffffff;
	padding: 8px 4px;
	border-right:1px solid #e3e3e3;
	border-bottom:1px solid #e3e3e3;
	white-space: nowrap;
}
table td {
	border-bottom:1px solid #e3e3e3;
	border-right:1px solid #e3e3e3;
	font-size: 0.85em;
	padding: 4px;
	text-align: center;
	width: auto;
	white-space: nowrap;
}
table tr td:nth-child(2),
table tr td:nth-child(3) {
	text-align: left;
}
table tr td:nth-last-child(1),
table tr td:nth-last-child(2) {
	text-align: right;
}
table a {
	display: block;
}




/* ========================================

Media Queries

======================================== */
		@media screen and (min-width: 801px) {
table tbody tr:hover {
	background-color: #f7d7d7;
}
		}

		@media screen and (max-width: 800px) {
#cat_tab {
	border: 0;
}
#cat_tab li {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-bottom: 3px;
}
#results_contents_race {
	width: 100%;
	-webkit-overflow-scrolling: touch;
	overflow: scroll;
}
.scroll_sp table {
	width: auto;
	min-width: 100%;
	white-space: nowrap;
}
table .resuts_date {
	width: 25%;
}
table .resuts_area {
	width: 15%;
}
table .resuts_race {
	width: auto;
}
table .resuts_place {
	display: none;
}
table tr:nth-child(odd) {
	background-color: #efefef;
}


		}





